@import url('https://fonts.googleapis.com/css?family=Lora|Lora:400i|Ubuntu');
body {
    font-family: 'Lora', serif !important;
}

.navbar {
    font-family: 'Ubuntu', sans-serif !important;
}

.italic {
    font-style: italic !important;
}

.h5{
    letter-spacing: 2px !important;
}


.container a {
    text-decoration: none !important;
    border-bottom: 1px;
    border-bottom-style: dotted;
    
}

.container a:hover {
    text-decoration: none !important;
    border-bottom: 1px;
    border-bottom-style: solid;
}

#icon-links a{
    text-decoration: none !important;
    border-bottom: 0;
}

